
<ul>
  <li>View Your Bucket List</li>
  <li>View Countries</li>
  <li>Add Country</li>
  <li>View Cites</li>
  <li>Add City</li>
  <li>View Sights</li>
  <li>Add Sight</li>
  <li>Add New Sight To Bucket List</li>
</ul>
