
<ul>
  <li><i class="fab fa-home"></i>View Your Bucket List</li>
  <li><i class="fab fa-bitbucket"></i>View Countries</li>
  <li>Add Country</li>
  <li>View Cites</li>
  <li>Add City</li>
  <li>View Sights</li>
  <li>Add Sight</li>
  <li>Add New Sight To Bucket List</li>
</ul>
